.item {
  border: 1px solid #ccc;
  padding: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;

  img {
    width: 150px;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
  }

  .productName {
    font-size: 20px;
    color: #333;
  }
  
  button {
    padding: 10px;
    font-size: 20px;
  }
}