.productCard {
  border: 1px solid #ccc;
  padding: 20px 20px 55px;
  cursor: pointer;
  user-select: none;
  position: relative;

  img {
    width: 90%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
  }

  .productName {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
  }

  .productDescription {
    color: #777;
    margin-bottom: 10px;
  }

  .productPrice {
    color: darkgreen;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.productBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addToCartBtn {
  position: absolute;
  bottom: 20px;
  background: #2d4373;
  color: white;
  padding: 8px 12px;
  border: none;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    background: #1ecaab;
  }

  &:active {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }
}

.myStarIcon {
  top: 10px;
  right: 10px;
  position: absolute;
  color: gray; 
  font-size: 24px; 
  margin-right: 5px;
  border: none;
  cursor: pointer;
}

.isFavorite.myStarIcon {
  color: gold; 
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  z-index: 1000;
}

.modal p {
  color: #fff;
}

.modal button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  background-color: #2d4373;
  color: #fff;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

.buttons {
display: flex;
justify-content: space-evenly;
margin-top: 20px;
}

.close {
position: absolute;
top: 5px;
right: 10px;
cursor: pointer;
color: #fff;
}